/** for loader **/

#lead {
    position: relative;
    z-index: 1;
    background: url(../img/dp.jpg) no-repeat right;
    background-size: auto 100%;
}
#lead-content {
    z-index: 10;
}
#lead-overlay {
    z-index: 1;
    animation: none;
}
.load-ripple {
    display: none;
}
#lead-content a {
    visibility: visible;
}
#lead-content h1, #lead-content h2 {
    display: block;
}
#lead-down {
    visibility: visible;
}

@media only screen and (max-width: 992px) {
    #lead{
        height: auto;
        min-height: auto;
        max-height: auto;
    }
}

/**********************************************/


#lead-down span, .down-arrow:hover{
  cursor: default;
}

#education-timeline>div, #experience-timeline>div {
    background: var(--highlight-bg-color);
    padding: 10px;
    margin-bottom: 10px;
}
#education-timeline>div h3, #experience-timeline>div h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: var(--text);
    display: inline-block;
    margin: 0
}
#education-timeline>div h4, #experience-timeline>div h4 {
    font-size: 1.2em;
    font-weight: 300;
    color: var(--text);
    margin: 0 0 15px 0
}
#education-timeline>div p, #experience-timeline>div p {
    color: var(--text-disabled);
    font-size: 0.9em;
    margin: 0
}
#education-timeline:before,#education-timeline:after, #experience-timeline:before,#experience-timeline:after {
    content: none
}

header, #mobile-menu-open {
    background-color: var(--header-footer-bg);
}
header{
  border-bottom: 2.5px solid #3498db;
}
header .logo{
    visibility: visible;
}

[data-url]:hover{
  cursor: text;
  filter: none;
}